:root {
    --lightblue: #E7F1FF;
    --blue: #2D65B6;
    --yellow: #F8EEB7;
    --beige: #E8E7E4;
    --offblack: #111111; 
    --offwhite: #F8F9FA;
    --regular: 400;
    --light: 300;
    --medium: 500;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family:'Montserrat', sans-serif;
 }
 ul {
    list-style: none;
  }
 a {
    text-decoration: none;
 }
 h1{
     text-align: center;
     font-size: 2.5rem;
     color: var(--blue);
     font-family:'Montserrat', sans-serif;
     font-weight: var(--light);
 }
 h2{
    font-family:'Montserrat', sans-serif;
    color: var(--blue);
    font-size: 2rem;
    text-align: center;
    font-weight: var(--light);
 }

/*=============== NAV ===============*/

.container {
max-width: 1120px;
margin-inline: 1.5rem;
}

.nav-header {
position: absolute;
top: 0;
left: 0;
width: 100%;
background-color: var(--lightblue);
}

.nav {
  height: 3.5rem;
}

.nav-burger, 
.nav-close {
  color: var(--blue);
}

.nav-logo-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
    height: 3rem;
}

.nav-toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-burger, 
.nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav-close {
  opacity: 0;
}

/* For store skærme */
@media screen and (min-width: 1025px) {
    .container {
      margin-inline: auto;
    }
  
    .nav {
      height: 5.5rem;
      display: flex;
      justify-content: space-between;
    }
    .nav-toggle {
      display: none;
    }
    .nav-list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    .nav-link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
    }
  }

/* Nav for mobil */
@media screen and (max-width: 1024px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav-list {
    background-color: var(--lightblue);
    padding-top: 1rem;
  }
  .nav-logo img {
    height: 2.5rem;
  }
}

/* DET ER IKKE FEJL AT DET NEDENSTÅENDE KODE IKKE ER I EN MEDIA QUERY, DET ER TIL JAVASCRIPT */
/* DET ER IKKE FEJL AT DET NEDENSTÅENDE KODE IKKE ER I EN MEDIA QUERY, DET ER TIL JAVASCRIPT */
/* DET ER IKKE FEJL AT DET NEDENSTÅENDE KODE IKKE ER I EN MEDIA QUERY, DET ER TIL JAVASCRIPT */
/* DET ER IKKE FEJL AT DET NEDENSTÅENDE KODE IKKE ER I EN MEDIA QUERY, DET ER TIL JAVASCRIPT */
/* DET ER IKKE FEJL AT DET NEDENSTÅENDE KODE IKKE ER I EN MEDIA QUERY, DET ER TIL JAVASCRIPT */

.nav-link {
  color: var(--offblack);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Css til at vise menu. Se javascript */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* css til at vise ikoner. Se javascript */
.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}